*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
}
/* Header code goes here */
header{
    height: 80px;
    width: 100%;
    background-image: linear-gradient(rgb(105, 28, 58),rgb(45, 6, 67));
    display: flex;
    justify-content: space-between;
}

header #h1{
    padding: 20px;
}

header #h1{
    background: -webkit-linear-gradient(rgb(145, 29, 77),rgb(203, 71, 229));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

header nav{
    background-color: none;
    width: 300px;
    height: 80px;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(157, 123, 230);
}

header nav ul li a:hover{
    color: rgb(251, 6, 75);
    text-decoration: underline;
}


/* Main css goes here*/
main #name{
    height: 200px;
    width: 100%px;
}

main #name h1{
    font-size: 64px;
    padding-left: 4.7rem;
    padding-top: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   background: -webkit-linear-gradient(rgb(155, 87, 31),rgb(125, 99, 218));
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

main #breifup{
    height: 160px;
    width: 100%;
    padding: 10px 16px;
}


main #breifup h2{
    font-size: 34px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169, 223, 129);
}

main #breifup p{
    font-size: 18px;
    padding-top:  10px;
    font-family: helvetica;
    font-weight: 400;
}

main #aboutme1{
    height: 400px;
    width: 100%;
    padding: 10px 16px;
}

main #aboutme1 h2{
    font-size: 34px;
    font-weight: 400;
    color: rgb(169, 223, 129);
    font-family: Arial, Helvetica, sans-serif;
}

main #aboutme1 p{
    font-size: 18px;
    padding-top: 10px;
    font-family: Helvetica;
    font-weight: 400;
}
